/* Write your CSS here */
.money-manager {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
  font-family: 'Roboto';
}
.row1 {
  height: 25%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding: 20px;
}
.row1 > .name {
  font-size: 46px;
}
.row1 > p {
  font-size: 30px;
  color: #475569;
}
.row1 > p span {
  color: #0b69ff;
}
.row2 {
  height: 20%;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  align-items: center;
}
.row3 {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.row3 .col-1 {
  border-color: #cbd5e1;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  flex-basis: 30%;
  padding: 30px;
  padding-top: 20px;
  height: 100%;
}
form input,
select {
  display: block;
  width: 90%;
  height: 30px;
  margin-bottom: 30px;
}
form button {
  display: block;
  width: 100px;
  margin-top: 20px;
  padding: 10px;
  color: white;
  background-color: #0b69ff;
  border-radius: 15px;
  border-style: none;
}
.row3 .col-2 {
  border-color: #cbd5e1;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  flex-basis: 60%;
  padding: 30px;
  padding-top: 20px;
  height: 100%;
}
.col-2 > ul {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}
.col-2 > ul li {
  list-style-type: none;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: #cbd5e1;
  border-style: solid;
  border-width: 1px;
}
.transaction-head {
  font-weight: bold;
}
.col-2 > ul li p {
  text-align: center;
  width: 80px;
  margin-right: 10px;
}
